.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    
   

}

.link{
    display: flex;
    gap: 30px;
    color: #e5e7eb;
    font-size: 18px;
    opacity: 0.8;
}

header{
    font-size: 24px;
    color: #f9faf8;

}


.container-1{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #f9faf8;
    gap: 100px;
    padding: 10px 70px;
}


.website{
    font-size: 48px;
}
.subtext{
    font-size: 18px;
    opacity: 0.8;

}
  

.holder {
    background-color: grey;
    width: 350px;
    padding: 70px 50px;
    text-align: center;
    color: #f9faf8;
    opacity: 0.8;



}
.button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 5px;
    color: #f9faf8;
    border: 1px solid white;
    outline: solid white 1px;

}

.text {
    display: flex;
    flex-direction: column;
}
.randomtext{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-weight:900;
    padding: 10px;
}


 .container-2 {
     display: flex;
    justify-content: space-around;

    
    
    
 }   
.box{
    
    width: 100px;
    height: 100px;
    border: 3px solid #3882f6;
    border-radius: 16px;
    
}



.alltext {
    display: flex;
    justify-content: space-around;
}    

.sometext {
    width: 160px;
    text-align: center;
    color: #1f2937;
    font-size: 18px;
}


    
.letter{
    background-color: #e5e7eb;
    margin-top: 30px;
    
}

.lettertext {text-align: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    
}

.regards {
    text-align: end;
    margin-right: 50px;
    font-weight: 800;
}

.calltoaction {
    margin-top: 30px;
    background-color: #3882f6;
    width: 650px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    align-self: center;
    
}

.action{
    color: #f9faf8;

 

}

.action-1 {color: #f9faf8;
    font-weight: 600;
}
p1{
    opacity: 0.8;
}


    


.button-2{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
  outline: white solid 1px;
  border: 1px solid white;
}

footer{
    margin-top: 30px;
    left: 0%;
    position: static;
    text-align: center;
    background-color: #1f2937;
    padding: 20px;
    color: #f9faf8;
    word-spacing: 5px;
}
    
body{
    font-family: Arial, Helvetica, sans-serif;
    
}